body {
    font-family: Arial, sans-serif;
    background:peachpuff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background: #9bb7a1;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    text-align: center;
    color: black;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar button {
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.option {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.correct {
    background-color: rgb !important;
    color: white;
}

.wrong {
    background-color: red !important;
    color: white;
}
.correct {
    background-color: green !important;
    color: white;
}

.option:disabled {
    cursor: not-allowed;
}

#nextBtn, #restartBtn {
    margin-top: 10px;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
}

#restartBtn {
    display: none;
}

